.timemap_report0 .timemap_day {
  width: 70%;
  border: 1px solid #777;
  margin: 10px;
  padding: 5px;
}

.timemap_report0 .timemap_day .timemap_task {

}

.timemap_report0 .timemap_day .timemap_task .timemap_task_bar {
  border: 1px solid black;
  border-top: none; 
  position: relative;
  padding: 3px;
  margin: 3px;              
}

.timemap_report0 .timemap_day .timemap_timeline {
  width: auto;
  text-align: center;
  font-size: 0.7em;
  display: block;
}